[submodule "frontend/bastiampos-frontend"]
	path = frontend/bastiampos-frontend
	url = https://github.com/bastiampos/bastiampos-frontend.git
[submodule "bastiampos-frontend"]
	path = bastiampos-frontend
	url = https://github.com/bastiampos/bastiampos-frontend.git
[submodule "bastiampos-backend"]
	path = bastiampos-backend
	url = https://github.com/bastiampos/bastiampos-backend.git
