@font-face {
  font-family: 'sohne-normal';
  src: url('./assets/fonts/sohne/normal.otf');
}

@font-face {
  font-family: 'sohne-bold';
  src: url('./assets/fonts/sohne/bold.otf');
}

@font-face {
   font-family: 'sohne-light';
   src: url('./assets/fonts/sohne/light.otf');
}

@font-face {
  font-family: 'greycliff-normal';
  src: url('./assets/fonts/greycliff/GreycliffCF-Medium.otf');
}

@font-face {
  font-family: 'greycliff-bold';
  src: url('./assets/fonts/greycliff/GreycliffCF-ExtraBold.otf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    /* Color definition */
  --bg-color: #ffffff;
  --success-color: #51AFF2;
  --primary-color: #044392;
  --dark-font-color: #000000;
  --light-font-color: #fff;
  --second-dark-font-color: #757575;
  --light-hover-font-color: #836bfa;

  --gray-border-color: rgba(0,0,0,0.3);

  /* Fonts styles */
  --font-family: 'Roboto', sans-serif;
  --base-font-size: 16px;
  --h1-font-size: 54px;
  --h2-font-size: 36px;
  --h3-font-size: 24px;
  --h5-font-size: 10.67px;
  --h6-font-size: 7.11px;

  /* Space definition */
  --gap: 1vmin;
  --line-height: 1.5;
}

.flex {display: flex}

.fullFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignFlex {
  display: flex;
  align-items: center;
}

.gap1 {gap: 1vmin}
.gap2 {gap: 2vmin}

body {
   font-family: 'sohne-normal';
 }

/* HEADER */

header {
  padding: 0 10vmin;
  height: 10vh;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header h1 {color: var(--second-dark-font-color); font-size: 25px;}

.horizontalNav {gap: 2vmin}
.verticalNav {display: none;}
.horizontalNav a {
   padding: 1vmin;
   font-size: 1em;
   font-family: 'sohne-light';
}

.horizontalNav a, .footerNav a {
   display: flex;
   flex-direction: row;
   color: var(--second-dark-font-color);
   text-decoration: none;
}

.horizontalNav a:hover, .horizontalNav .activeRoute, footer .activeRoute, footer nav a:hover {color: var(--light-hover-font-color);}

.buttonHeaderNav {
   min-width: 30px;
   height: 30px;
   border-radius: 5px;
   border: 1px solid var(--second-dark-font-color);
   cursor: pointer;
   font-size: 14px;
   font-family: 'sohne-light';
   color: var(--second-dark-font-color);
   display: flex;
   align-items: center;
   justify-content: center;
}

.buttonHeaderNav:hover {
  color: var(--light-hover-font-color);
  border: 1px solid var(--light-hover-font-color);
}

.profileHeaderButton {
   position: relative;
}

.selectProfile {
   min-width: 150px;
   position: absolute;
   top: 110%;
   right: 0;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: white;
   border: 1px solid var(--gray-border-color);
}

.itemSelectProfile {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 1vmin;
   padding: 1vmin;
   text-decoration: none;
   color: var(--second-dark-font-color);
}

.itemSelectProfile:hover {color: var(--light-hover-font-color);}

.upArrow {
   transform: rotate(-180deg);
   transition: 0.4s;
}

.downArrow {
   transform: rotate(0);
   transition: 0.4s;
}

/* FOOTER */

footer {
   color: var(--second-dark-font-color);
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 6vmin 10vmin 8vmin 10vmin;
   font-family: 'sohne-light';
   font-size: 14px;
}

footer nav a {
   font-size: 22px;
   color: var(--second-dark-font-color);
   text-decoration: none;
   fill: var(--second-dark-font-color);
   display: flex;
   align-items: center;
   gap: 1vmin;
}

footer nav p {font-size: 14px;}

footer nav {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 2vmin;
}

.poweredFooter {
   padding: 1vmin;
   font-size: 20px;
   color: var(--second-dark-font-color);
   border-radius: 5px;
   border: 1px solid var(--second-dark-font-color);
   font-family: 'sohne-light';
}

.translateFooter {text-decoration: underline; cursor: pointer;}

.poweredFooter p {font-size: 14px;}

.columnFooter{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 2vmin;
}

.titleFooter {
   color: black;
   font-weight: bold;
}

/* MAIN */

main {

}

main.home, main.about {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.building {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.home section, .about section {
   padding-top: 5vmin;
   padding-bottom: 5vmin;
   padding: 5vmin 10vmin;
   border-bottom: 1px solid var(--gray-border-color);
}

section.left {
   border-right: 1px solid var(--gray-border-color);
}

.spanC2 {grid-column: span 2;}

/* HOME */

.mainTitleHero h1 {
   font-size: 7vmin;
   background: linear-gradient(180deg,#3512b2,#f09177);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   font-family: 'greycliff-bold';
}

.mainTitleHero > p {font-size: 20px;}

.mainTitleHero button {
   padding: 2vmin 4vmin;
   background-color: transparent;
   border: 1px solid var(--second-dark-font-color);
   border-radius: 4vmin;
   cursor: pointer;
   margin-top: 5vmin;
   font-size: 1em;
   color: var(--second-dark-font-color);
}

.mainTitleHero button:hover {
   border-color: var(--light-hover-font-color);
   color: var(--light-hover-font-color);
}

.lastArticlesHome {
   display: flex;
   flex-direction: column;
   gap: 2vmin;
}

.lastArticlesHome h2 {font-weight: 100; font-family: 'sohne-bold';}

.lastArticlesHome article:hover {
   background-color: rgba(0, 0, 0, 0.05);
}

.lastArticlesHome h3 {
   color: rgba(0,0,0,0.8); 
   font-weight: 100;
}

.lastArticlesHome span {
   font-size: 12px; 
   /* font-style: italic; */

}
.lastArticlesHome span, .lastArticlesHome p {
   color: var(--second-dark-font-color);
   font-family: 'sohne-light';
}

/* ABOUT */



.about section {
   
}


/* PROJECTS */


/* CONTENIDO */



/*  QUERIES  */

@media screen and (max-width: 1200px) {
   
}

@media screen and (max-width: 992px) {
   
}

@media screen and (max-width: 768px) {
   .horizontalNav {display: none;}

   .verticalNav {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      border: 1px solid var(--second-dark-font-color);
      color: var(--second-dark-font-color);
      border-radius: 5px;
   }

   .verticalNav:hover {
      color: var(--light-hover-font-color);
      border-color: var(--light-hover-font-color);
   }

   footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4vmin;
   }

}

@media screen and (max-width: 576px) {
   
}

@media screen and (max-width: 476px) {
   .columnFooter a {font-size: 14px;}
}

@media screen and (max-width: 420px) {
   .fromLiveIn {
      display: grid;
      grid-template-columns: 80% 20%;
   }
}