@font-face {
  font-family: 'sohne-normal';
  src: url('./assets/fonts/sohne/normal.otf');
}

@font-face {
  font-family: 'sohne-bold';
  src: url('./assets/fonts/sohne/bold.otf');
}

@font-face {
  font-family: 'sohne-light';
  src: url('./assets/fonts/sohne/light.otf');
}

@font-face {
  font-family: 'greycliff-normal';
  src: url('./assets/fonts/greycliff/GreycliffCF-Medium.otf');
}

@font-face {
  font-family: 'greycliff-bold';
  src: url('./assets/fonts/greycliff/GreycliffCF-ExtraBold.otf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {display: flex}

.fullFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignFlex {
  display: flex;
  align-items: center;
}

.gap1 {gap: 1vmin}
.gap2 {gap: 2vmin}

body {
   font-family: 'sohne-normal';
 }

/* HEADER */

header {
  padding: 0 5%;
  height: 10vh;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header h1 {color: #757575; font-size: 25px;}

.horizontalNav {gap: 2vmin}
.verticalNav {display: none;}
.horizontalNav a {
   padding: 1vmin;
   font-size: 1em;
   font-family: 'sohne-light';
}

.horizontalNav a, .footerNav a {
   display: flex;
   flex-direction: row;
   color: #757575;
   text-decoration: none;
}

.horizontalNav a:hover, .horizontalNav .activeRoute, footer .activeRoute, footer nav a:hover {color: #836bfa;}

.buttonHeaderNav {
   min-width: 30px;
   height: 30px;
   border-radius: 5px;
   border: 1px solid #757575;
   cursor: pointer;
   font-size: 14px;
   font-family: 'sohne-light';
   color: #757575;
   display: flex;
   align-items: center;
   justify-content: center;
}

.buttonHeaderNav:hover {
  color: #836bfa;
  border: 1px solid #836bfa;
}

.profileHeaderButton {
   position: relative;
}

.selectProfile {
   min-width: 150px;
   position: absolute;
   top: 110%;
   right: 0;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: white;
   /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); */
   border: 1px solid #757575;
}

.itemSelectProfile {
   width: 100%;
   display: flex;
   align-items: center;
   gap: 1vmin;
   padding: 1vmin;
   text-decoration: none;
   color: #757575;
}

.itemSelectProfile:hover {color: #836bfa;}

.upArrow {
   transform: rotate(-180deg);
   transition: 0.4s;
}

.downArrow {
   transform: rotate(0);
   transition: 0.4s;
}

/* FOOTER */

footer {
   color: #757575;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   border-top: 1px solid rgba(0, 0, 0, 0.2);
   padding: 6vmin 5% 8vmin 5%;
}

footer nav a {
   font-size: 22px;
   color: #757575;
   text-decoration: none;
   fill: #757575;
   display: flex;
   align-items: center;
   gap: 1vmin;
}

footer nav p {font-size: 16px;}

footer nav {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 2vmin;
}

.poweredFooter {
   padding: 1vmin;
   font-size: 20px;
   color: #757575;
   border-radius: 5px;
   border: 1px solid #757575;
   font-family: 'sohne-light';
}

.translateFooter {text-decoration: underline; cursor: pointer;}

.poweredFooter p {font-size: 16px;}

.columnFooter{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 2vmin;
}

.titleFooter {
   color: black;
   font-weight: bold;
}

/* MAIN */

main {
   padding: 5vmin 5%;
   min-height: 50vh;
}

.building {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* HOME */

.heroHome {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.heroHome h2 {
   width: 500px;
   font-size: 3.5em;
   /* text-align: justify; */
   background: linear-gradient(180deg,#3512b2,#f09177);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   font-family: 'greycliff-bold';
}

.heroHome > p {font-size: 20px;}


/* ABOUT */



/* PROJECTS */


/* CONTENIDO */



/*  QUERIES  */

@media screen and (max-width: 1200px) {
   
}

@media screen and (max-width: 992px) {
   
}

@media screen and (max-width: 768px) {
   .horizontalNav {display: none;}

   .verticalNav {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      border: 1px solid #757575;
      color: #757575;
      border-radius: 5px;
   }

   .verticalNav:hover {
      color: #836bfa;
      border-color: #836bfa;
   }

   footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4vmin;
   }

}

@media screen and (max-width: 576px) {
   
}

@media screen and (max-width: 476px) {
   .columnFooter a {font-size: 14px;}
}

@media screen and (max-width: 420px) {
   .fromLiveIn {
      display: grid;
      grid-template-columns: 80% 20%;
   }
}